{% extends 'base.html.twig' %}

{% block title %}Nouvelle Classe - JEAI Learn{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4><i class="fas fa-plus"></i> Créer une nouvelle classe</h4>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        
                        <div class="d-flex justify-content-between mt-3">
                            <a href="{{ path('admin_classes') }}" class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i> Retour
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Créer la classe
                            </button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
