<div class="stat-card">
    <div class="stat-card__icon"><i class="bi bi-{{ icon }}"></i></div>
    <div>
        <div class="stat-card__value tabular-nums">{{ value }}</div>
        <div class="stat-card__label">{{ label }}</div>
    </div>
</div>
